<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
          xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "com.ero-play.app.einbrecherin"
          version = "1.0.3">
  
      <name>Einbrecherin</name>
  
  
      <author href="www.ero-play.com" email="kontakt@ero-play.com">
          www.ero-play.com
      </author>
      <gap:platform name="android" />
      <preference name="orientation" value="portrait" />
      <!--preference name="fullscreen" value="true" /-->
      <preference name="permissions" value="none"/>
    </widget>
