<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
          xmlns:gap = "http://phonegap.com/ns/1.0"
          id        = "de.12shooting.app"
          version   = "1.0.1">
  
      <name>Einbrecherin</name>
      <author href="https://github.com/12shooting/phonegappFrame" email="kontakt12shooting.de">
          12Shooting
      </author>
      <gap:platform name="android" />
      <!--preference name="orientation" value="portrait" /-->
      <!--preference name="fullscreen" value="true" /-->
      <!--preference name="permissions" value="none"/-->
     
    </widget>
